:root {
  --orange-main: #fb8500;
  --orange-sub: #ffb703;
  --blue-dark: #023047;
  --blue-light: #219ebc;
}
html,
body {
  font-family: 'roboto', sans-serif;
  scroll-behavior: smooth;
}

.ham-menu {
  display: none;
  background-color: #ddd;
  padding: 1rem;
}
.menu-icon {
  height: 50px;
  width: 50px;
  margin-right: auto;
  position: relative;
}

.menu-icon span {
  height: 5px;
  width: 100%;
  background-color: var(--blue-dark);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3 ease;
}

.menu-icon span:first-child {
  top: 25%;
}
.menu-icon span:last-child {
  top: 75%;
}

#navbar {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 15rem;
  transition: 0.3 ease;
}
.nav-title {
  font-size: 2.5rem;
  transform: rotate(-90deg);
  margin: auto;
  text-align: center;
  color: var(--blue-dark);
  font-weight: 300;
}

#navbar ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
#navbar li {
  list-style: none;
  padding: 1.3rem 0;
  width: 100%;
  border-top: 1px solid;
}
.nav-link {
  display: block;
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  text-align: center;
  cursor: pointer;
  color: var(--blue-dark);
}

#main-doc {
  position: relative;
  left: 15rem;
  top: 0;
  padding: 2rem 8rem;
}

.code-snippet {
  width: fit-content;
  margin: auto;
}
.code-title {
  font-family: monospace;
  color: var(--orange-main);
}
header {
  color: var(--orange-main);
  font-size: 1.5rem;
}

button {
  font-family: 'helvetica neue', helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid rgb(200 200 0 / 60%);
  background-color: rgb(0 217 217 / 60%);
  color: rgb(100 0 0 / 100%);
  box-shadow: 1px 1px 2px rgb(0 0 200 / 40%);
  border-radius: 10px;
  padding: 3px 10px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.small-img {
  display: block;
  margin: auto;
}

@media only screen and (max-width: 1100px) {
  #navbar {
    width: 13rem;
  }
  #main-doc {
    left: 13rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 868px) {
  #navbar {
    width: 15rem;
    left: -15rem;
  }
  #navbar .active {
    left: 0;
  }
  .ham-menu {
    display: flex;
  }
  #main-doc {
    left: 0;
  }
}
