:root {
  --orange-main: #fb8500;
  --orange-sub: #ffb703;
  --blue-dark: #023047;
  --blue-light: #219ebc;
}
html,
body {
  font-family: 'roboto', sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ham-menu {
  display: block;
  padding: 0.5rem;
  cursor: pointer;
}

.cerrar-menu {
  padding: 0.5rem;
}
.abrir-menu,
.cerrar-menu {
  background: transparent;
  border: 0;
  display: none;
  font-size: 2rem;
}

.hidden {
  display: none;
}
#navbar {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 15rem;
  transition: 0.3s ease;
}
.nav-title {
  display: block;
  font-size: 2.5rem;
  transform: rotate(-90deg);
  margin: auto;
  text-align: center;
  color: var(--blue-dark);
  font-weight: 300;
}

#navbar ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
#navbar li {
  list-style: none;
  padding: 1.3rem 0;
  width: 100%;
  border-top: 1px solid;
}
.nav-link {
  display: block;
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  text-align: center;
  cursor: pointer;
  color: var(--blue-dark);
}

#main-doc {
  position: absolute;
  left: 15rem;
  top: 0;
  padding: 2rem 8rem;
  transition: 0.3s ease;
}

.code-snippet {
  width: 30rem;
  margin: auto;
}
.code-title {
  font-family: monospace;
  color: var(--orange-main);
}
header {
  color: var(--orange-main);
  font-size: 1.5rem;
}

.demo-button {
  font-family: 'helvetica neue', helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid rgb(200 200 0 / 60%);
  background-color: rgb(0 217 217 / 60%);
  color: rgb(100 0 0 / 100%);
  box-shadow: 1px 1px 2px rgb(0 0 200 / 40%);
  border-radius: 10px;
  padding: 3px 10px;
  cursor: pointer;
  display: block;
  margin: 1rem auto;
}

.img-container {
  max-width: 400px;
  margin: auto;
}
.small-img {
  display: block;
  margin: auto;
  width: 100%;
}

pre {
  white-space: pre-line;
  font-size: 0.9rem;
  margin: 0;
}

@media only screen and (max-width: 1100px) {
  #navbar {
    width: 13rem;
  }
  #main-doc {
    left: 13rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 868px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    cursor: pointer;
  }
  #navbar {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: fit-content;
    align-items: end;
    position: absolute;
    top: -100%;
  }
  #navbar.active {
    visibility: visible;
    opacity: 1;
    color: var(--blue-light);
    top: 0;
  }
  #navbar ul {
    width: 100vw;
  }
  .nav-title {
    display: none;
  }

  #main-doc {
    left: 0;
    top: 5%;
  }
  .code-snippet {
    width: fit-content;
  }
  pre {
    font-size: 0.7rem;
  }
}
